<ion-header>
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-button [routerLink]="['/home']" routerDirection="back" color="medium">
            <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
        <ion-title slot="secondary">Crear un nuevo Discoteca</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <form [formGroup]="discoForm" (ngSubmit)="onSubmit()">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-label>Nombre:</ion-label>
                </ion-col>
                <ion-col>
                    <ion-input type="text" placeholder="..." formControlName="nombre"></ion-input>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <ion-label>Numero de Entradas:</ion-label>
                </ion-col>
                <ion-col>
                    <ion-input type="text" placeholder="3-5" formControlName="numEntradas"></ion-input>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-label>Imagen:</ion-label>
                </ion-col>
                <ion-col>
                    <ion-input type="url" placeholder="URL" formControlName="image"></ion-input>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-label>Precio:</ion-label>
                </ion-col>
                <ion-col>
                    <ion-input type="text" placeholder="---.--€" formControlName="precio"></ion-input>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-button type="submit" color="primary">
            <ion-label>Guardar</ion-label>
            <ion-icon name="save"></ion-icon>
        </ion-button>
    </form>
</ion-content>