<ion-header>
  <ion-toolbar>
  <ion-buttons slot="end">
  <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <ion-title slot="primary">
  Recordatorio de discotecas
  </ion-title>
  </ion-toolbar>
 </ion-header>
 <ion-content>
  <div class="ion-padding">
  <ion-list>
  <ion-item *ngFor="let discoteca of discotecas"
 (click)="discotecaTapped(discoteca)">
  <ion-thumbnail slot="start">
  <img src="{{discoteca.cover}}">
  </ion-thumbnail>
  <ion-label> {{discoteca.name}}</ion-label>
  </ion-item>
  </ion-list>
  </div>
 </ion-content>
 <ion-toolbar>
  <img src="/assets/images/4Vientos_iconoBlanco.PNG" />
  <ion-title slot="primary">
  Desarrollo de Interfaces
  </ion-title>
 </ion-toolbar>
