<ion-header>
    <ion-toolbar>
        <ion-buttons>
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title slot="primary">
            Listado de Discotecas
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>

    <ion-content>
        <ion-card class="welcome-card">
            <ion-slides pager="true" [options]="slideOpts">
                <ion-slide *ngFor="let disco of discos">
                    <ion-card-content>
                        <ion-title size="large" color="primary" background="primary">{{ disco.nombre }}</ion-title>

                        <img src="{{ disco.image }}" alt="h1"><br>

                    </ion-card-content>
                </ion-slide>
            </ion-slides>
        </ion-card>

        <div class="ion-padding">
            <ion-list>
                <ion-list-header>
                    <ion-title>
                        Listado de Discotecas
                    </ion-title>
                </ion-list-header>
                <div *ngIf="haveValues">
                    <ion-item *ngFor="let disco of discos" (click)="DiscoTapped(disco)">
                        <ion-thumbnail slot="start">
                            <img src="{{disco.image}}">
                        </ion-thumbnail>
                        <ion-label> {{disco.nombre}}</ion-label>
                    </ion-item>
                </div>
            </ion-list>
        </div>

    </ion-content>
    <ion-toolbar>
        <img src="/assets/images/4Vientos_iconoBlanco.PNG" />
        <ion-title slot="primary">
            TU Discoteca
        </ion-title>
    </ion-toolbar>